<style type="text/css">
  @font-face{
    font-family: "amemuchi";
    src: url("<%= asset_path 'amemuchigothic-b.ttf' %>");
  }
  h1.pagetitle{
    font-family: "amemuchi";
    font-size: 3em; 
  }
  h2.font{
    font-family: "amemuchi";
    font-size: 1em; 
  }
</style>

<p id="notice"><%= notice %></p>

<%= form_for(@user, url: set_path(@user)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><% pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><h2 class="font"><%= message %></h2></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="pagetitle" style = "margin-left: 8%; text-align: left">Set</h1>

  <div style = "width:90%;margin-left: 5%">



    <div class="panel-group" id="setting">

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#setting" href="#setname">
              <h2 class="font">Name▽</h2>
            </a>
          </h3>
        </div>

        <div id="setname" class="panel-collapse collapse in">
          <div class="panel-body">
            <%= f.text_field :name %>
          </div>
        </div>

      </div>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#setting" href="#setpass">
              <h2 class="font">Password▽</h2>
            </a>
          </h3>
        </div>

        <div id="setpass" class="panel-collapse collapse">
          <div class="panel-body">
            <h2 class="font">現在のパスワード</h2><br>
            <%= password_field_tag "firstpass" %><br>
            <h2 class="font">新しいパスワード</h2><p style = "display: :inline_block">
            <%= f.password_field :pass %>
            <%= f.password_field :pass_confirmation %></p>
          </div>
        </div>

      </div>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#setting" href="#setcolor">
              <h2 class="font">Color▽</h2>
            </a>
          </h3>
        </div>

        <div id="setcolor" class="panel-collapse collapse">
          <div class="panel-body">
            <%= select :user, :color, ["RED", "BLUE", "YELLOW", "PINK", "GREEN", "BLACK", "WHITE"] %> 
          </div>
        </div>

      </div>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#setting" href="#setcall">
              <h2 class="font">Call▽</h2>
            </a>
          </h3>
        </div>

        <div id="setcall" class="panel-collapse collapse">
          <div class="panel-body">
            <h2 class="font"><%= f.number_field :call, min: 0  %>日前</h2>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div style = "margin-left: 5%">
    <button class="btn btn-default"><h2 class="font"><%= link_to 'ユーザー削除', userdelete_sets_path, method: :destroy, data: { confirm: '本当に削除しますか?' } %></h2></button>
    <button class="btn btn-default"><h2 class="font"><%= link_to 'サインアウト', top_index_path%></h2></button>
  </div>
  <span>
    <div class="actions" align ="center">
      <%=  button_tag :type =>"submit", :class =>"btn btn-gray btn-circle btn-lg2 darkgray" do %>
       <span style="text-align: center;">登録</span>
      <% end %>
    </div>
  </span>

<% end %>
