<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :userid %><br>
    <%= f.text_field :userid %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :mail %><br>
    <%= f.text_field :mail %>
  <span class="field">
    <%= select :user, :mailback, ["@docomo.ne.jp","@softbank.ne.jp","@ezweb.ne.jp"] %>
  </span>
  </div>

  <div class="field">
    <%= f.label :pass %><br>
    ※8字以上、半角英数字のみ<br>
    <%= f.password_field :pass %>
    <%= f.password_field :pass_confirmation %>
  </div>

  <div class="field"> 
    <%= f.label :call %><br> 
    <%= f.number_field :call, min: 0  %>日前
  </div> 

  
  <div class="actions" align ="center">
    <%= image_submit_tag('OK.png') %>
  </div>

  <%= link_to image_tag('back.png', { :border => '0', :alt => 'ログインへ',:size => '100x70'}), controller: :login,action: :index  %>

  <% end %>
