<head>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".cb").hide();
      $(".cb:checked").each(function(i){
        id = $(this).attr("id")
        color = $(this).attr(":color")
        $("#user_color" + id).prop("checked", true);
        $("#img_on" + id).attr("src", "<%= asset_path 'on#{color}.png' %>");
      })
    });
    $(function(){
      $(".sw_hante").click(function(){
        $(".cb").each(function(i){
          id = $(this).attr("id")
          $("#user_color" + id).prop("checked", false);
          $("#img_off" + id).attr("src", "<%= asset_path 'off#{color}.png' %>");
        })
        id = $(this).attr("id")
        if($(".cb_" + id + ":checked").val()){
          $("#user_color" + id).prop("checked", false);
          $("#img_off" + id).attr("src", "<%= asset_path 'off#{color}.png' %>");
        }else{
          $("#user_color" + id).prop("checked", true);
          $("#img_on" + id).attr("src", "<%= asset_path 'on#{color}.png' %>");
        }
      })
    });
  </script>
  <style type="text/css">
  .rsample{
      position:relative;
      width:100px;
  }
  .rsample span{
      position:absolute;
      bottom:0px;
      left:-3px;
      width:100px;
      text-align:center;
  }
  .rsample img{
      width:100px;
  }

  .btn-circle.btn-lg2 {
  width: 80px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  }

  .darkgray {
    color: #808080;
  }
  .gray{
    color: #f2f2f2;
  }

  </style>
</head>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">


      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field" align="center" style="margin-top: 20%"> <br/>
      <%= f.label "好きな色を選択してください" %><br>
      <%= f.collection_radio_buttons(:color,{red: "red",blue:"blue",yellow:"yellow",green:"green",orange:"orange",purple:"purple",lblue:"lblue",black:"black"},:last,:first) do |b| %>
      <span class="rsample">
        <%= image_tag "off#{b.value}.png", class: ["sw_hante"],id: "img_off#{b.value}" %>
      </span>
      <%= b.radio_button(class: ["cb", "cb_#{b.value}"]) %>
      <% end %>
    </div> 
<br/>
    <div class="actions" align="center"> 
    <%=  button_tag :type =>"submit", :class =>"btn btn-gray btn-circle btn-lg2 darkgray" do %>
    <span style="text-align: center;">登録
    <% end %>
    </div>
<% end %> 