<head>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".cb").hide();

    });
  </script>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field" align="center" style="margin-top: 20%"> <br/>
      <%= f.label "好きな色を選択してください" %><br>
      <%= f.collection_radio_buttons(:color,{red: "red",blue:"blue",yellow:"yellow",green:"green",orange:"orange",purple:"purple",lblue:"lblue",black:"black"},:last,:first) do |b| %>
      <span class="rsample">
        <%= image_tag "off#{b.value}.png", class: ["sw_hante"],id: "img_#{b.value}",:size => "120x120" %>
      </span>
        <%= b.radio_button(class:["cb","cb_#{b.value}"]) %>
      <% end %>

    </div> 
<br/>
    <div class="actions" align="center"> 
      <%= image_submit_tag('OK.png') %>
    </div>
<% end %> 