<head>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".cb").hide();
      $(".cb:checked").each(function(i){
        color = $(this).attr("id").split("_")[2]
        $("#user_color_" + color).prop("checked", true);
        $("#img_"+color).attr("src","/images/on" + color + ".png");
      })
    });
    $(function(){
      $(".sw_hante").click(function(){
        $(".cb").each(function(i){
          color = $(this).attr("id").split("_")[2]
          $("#user_color_" + color).prop("checked", false);
          $("#img_"+color).attr("src","/images/off" + color + ".png");
        })
        color = $(this).attr("id").split("_")[1]
        if($(".cb_" + color + ":checked").val()){
          $("#user_color_" + color).prop("checked", false);
          $("#img_"+color).attr("src","/images/off" + color + ".png");
        }else{
          $("#user_color_" + color).prop("checked", true);
          $("#img_"+color).attr("src","/images/on" + color + ".png");
        }
      })
    });
  </script>
  <style type="text/css">
  body {
    background-image: url(<%= asset_path 'newuser_image.jpg' %>);
    background-size: cover;
  }
  .rsample{
      position:relative;
  }
  .rsample span{
      position:absolute;
      bottom:0px;
      left:-3px;
      width:100px;
      text-align:center;
  }
  .rsample img{
      width:150px;
  }

  .btn-circle.btn-lg2 {
  width: 80px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  }

  .darkgray {
    color: #808080;
  }
  .gray{
    color: #f2f2f2;
  }

  </style>
</head>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">


      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field" align="center" style="margin-top: 1em"> <br/>
    　　<div align="center" style="width: 20em; height: 3em; background-color: white; margin-top: 20%">
         <br>
      　　<%= f.label "好きな色を選択してください" %><br>
      </div>
      <br>
      <%= f.collection_radio_buttons(:color,{red: "red",blue:"blue",yellow:"yellow",green:"green",orange:"orange",purple:"purple",lblue:"lblue",black:"black"},:last,:first, checked: "red" ) do |b| %>
        <span class="rsample">
          <%= image_tag "off#{b.value}.png", class: ["sw_hante"],id: "img_#{b.value}",:size => "150x150" %>
        </span>
        <%= b.radio_button(class: ["cb", "cb_#{b.value}"]) %>
      <% end %>
    </div> 
    <br/>
    <div class="actions" align="center"> 
      <%=  button_tag :type =>"submit", :class =>"btn btn-gray btn-circle btn-lg2 darkgray" do %>
        <span style="text-align: center;">登録</span>
      <% end %>
    </div>





<% end %> 