<style type="text/css">
  body {
      background-image: url(<%= asset_path 'back_image.png' %>);
    }

  h2.font{
    font-family: "amemuchi";
    font-size: 1em; 
  }

</style>

<p id="notice"><%= notice %></p>

<div style="font-size: 250%">
  <%= link_to "", sets_path,class:"glyphicon glyphicon-cog "  %>
  <%= link_to "", allusers_path, class:"glyphicon glyphicon-user" %>
  <p class="white" style="display: inline;margin-left: 85%"></p>
  <h2 class="font" style="text-align: right; display: inline;"><%= link_to '使い方', how_tos_path,class:"btn btn-default" %></h2>
</div>

<div align="center">
  <h1><%= @user_name %></h1><br>
  <Hr Size="3" Color="#111111" Width="55%">
</div>

<% @items.each do |item| %>
  <%# PC用 %>
  <%# item.image.present? %>
  <div class="visible-lg visible-md visible-sm">
    <div align="center" class="col-xs-6 col-sm-4" style="height:30em; background-color: white;">   
      <div class ="fav" style="margin-left: 70%;">
        <% if item.fav == true %>
          <%= image_tag('fav.png', { :border => '0', :alt => 'お気に入り', :width => '27em'}) %>
        <% end %>  
      </div>
      <%= link_to item do %>
        <div class="noimg">
          <div class="image">
            <p style="display:inline;">
              <% if item.image.present? == true %>
                <%= image_tag show_image_item_path(item), class: ["large-img"] %>
              <% elsif item.image2.present? == true %>
                <%= image_tag show_image2_item_path(item), class: ["large-img"] %>
              <% else %>
                <%= image_tag show_image3_item_path(item), class: ["large-img","noimg"] %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <br />
      <div class="name">
        <h2 class="font"><%= item.itemname %></h2>
      </div>
    </div>
  </div>
  <%# iphone5用 %>
  <div class="visible-xs">
    <div align="center" class="col-xs-6 col-sm-4" style="height:14em; background-color: white;">   
      <div class ="fav" style="margin-left: 65%;">
        <% if item.fav == true %>
          <%= image_tag('fav.png', { :border => '0', :alt => 'お気に入り', :width => '15em'}) %>
        <% end %>  
      </div>
      <%= link_to item do %>
        <div class="noimg">
          <div class="image">
            <p style="display:inline;">
              <% if item.image.present? == true %>
                <%= image_tag show_image_item_path(item), class: ["large-img"] %>
              <% elsif item.image2.present? == true %>
                <%= image_tag show_image2_item_path(item), class: ["large-img"] %>
              <% else %>
                <%= image_tag show_image3_item_path(item), class: ["large-img","noimg"] %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <br />
      <div class="name_ph">
        <h2 class="font"><%= item.itemname %></h2>
      </div>
    </div>
  </div>
<% end %>
