<script type="text/javascript">
    $(document).ready(function() {
      $('.noimg').error(function() {
        $(this).attr({
            src: '/noimg.png'
        });
      });
    });
  </script> 

<style type="text/css">
  body {
      background-image: url(<%= asset_path 'back_image.png' %>);
    }

  div.image{
    position:absolute;
    top:20%; 
    width:90%; text-align:center;
  }
  div.name{
    position:absolute;
    bottom:5%; 
    width:90%; text-align:center;
  }
  @font-face{
    font-family: "amemuchi";
    src: url("<%= asset_path 'amemuchigothic-b.ttf' %>");
  }
  h1.namefont{
    font-family: "amemuchi";
    font-size: 3em;
  }
  h2.font{
    font-family: "amemuchi";
    font-size: 2em; 
  }
  h2.font_ph{
    font-family: "amemuchi";
    font-size: 1em; 
  }
</style>

<p id="notice"><%= notice %></p>

<div style="font-size: 250%">
  <%= link_to "", sets_path,class:"glyphicon glyphicon-cog "  %>
  <%= link_to "", allusers_path, class:"glyphicon glyphicon-user" %>
  <p class="white" style="display: inline;margin-left: 85%"></p>
  <h2 class="font" style="text-align: right; display: inline;"><%= link_to '使い方', how_tos_path,class:"btn btn-default" %></h2>
</div>

<div align="center">
  <h1 class="namefont"><%= @user_name %></h1><br>
  <Hr Size="3" Color="#111111" Width="55%">
</div>

<% @items.each do |item| %>
  <% next if item.shere == false %>
  <%# PC用 %>
  <div class="visible-lg visible-md visible-sm">
    <div align="center" class="col-xs-6 col-sm-4" style="height:40em; background-color: white;">   
      <%= link_to item do %>
        <div class="noimg">
          <div class="image">
            <p style="display:inline;">
              <% if item.image.present? == true %>
                <%= image_tag show_image_item_path(item), class: ["large-img"] %>
              <% elsif item.image2.present? == true %>
                <%= image_tag show_image2_item_path(item), class: ["large-img"] %>
              <% else %>
                <%= image_tag show_image3_item_path(item), class: ["large-img","noimg"] %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <br />
      <div class="name">
        <h2 class="font"><%= item.itemname %></h2>
      </div>
    </div>
  </div>
  <%# iphone5用 %>
  <div class="visible-xs">
    <div align="center" class="col-xs-6 col-sm-4" style="height:17em; background-color: white;">   
      <%= link_to item do %>
        <div class="noimg">
          <div class="image" align="center">
            <p style="display:inline;">
              <% if item.image.present? == true %>
                <%= image_tag show_image_item_path(item), class: ["large-img"] %>
              <% elsif item.image2.present? == true %>
                <%= image_tag show_image2_item_path(item), class: ["large-img"] %>
              <% else %>
                <%= image_tag show_image3_item_path(item), class: ["large-img","noimg"] %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <br />
      <div class="name" align="center">
        <h2 class="font_ph"><%= item.itemname %></h2>
      </div>
    </div>
  </div>
<% end %>
