<style type="text/css">
  body {
      background-image: url(<%= asset_path 'back_image.png' %>);
    }
  div.name{
    position:absolute;
    bottom:5%; 
    width:90%; text-align:center;
  }
  @font-face{
    font-family: "amemuchi";
    src: url("<%= asset_path 'amemuchigothic-b.ttf' %>");
  }
  h1.namefont{
    font-family: "amemuchi";
    font-size: 3em;
  }
  h2.font{
    font-family: "amemuchi";
    font-size: 2em; 
  }
</style>

<p id="notice"><%= notice %></p>

<div style="font-size: 250%">
  <%= link_to "", sets_path,class:"glyphicon glyphicon-cog "  %>
  <%= link_to "", allusers_path, class:"glyphicon glyphicon-user" %>
</div>

<div align="center">
  <h1 class="namefont"><%= @user_name %></h1><br>
  <Hr Size="3" Color="#111111" Width="55%">
</div>

<% @items.each do |item| %>
  <% next if item.shere == false %>
  <%# PC用 %>
  <div class="visible-lg visible-md visible-sm">
    <div align="center" class="col-xs-6 col-sm-4" style="height:25em; background-color: white;">   
      <%= link_to item do %>
        <div class="noimg">
          <div class="image">
            <p style="display:inline;">
              <% if item.image.present? == true %>
                <%= image_tag show_image_item_path(item), class: ["large-img"] %>
              <% elsif item.image2.present? == true %>
                <%= image_tag show_image2_item_path(item), class: ["large-img"] %>
              <% else %>
                <%= image_tag show_image3_item_path(item), class: ["large-img","noimg"] %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <br />
      <div class="name">
        <h2 class="font"><%= item.itemname %></h2>
      </div>
    </div>
  </div>
  <%# iphone5用 %>
  <div class="visible-xs">
    <div align="center" class="col-xs-6 col-sm-4" style="height:11em; background-color: white;">   
      <%= link_to item do %>
        <div class="noimg">
          <div class="image">
            <p style="display:inline;">
              <% if item.image.present? == true %>
                <%= image_tag show_image_item_path(item), class: ["large-img"] %>
              <% elsif item.image2.present? == true %>
                <%= image_tag show_image2_item_path(item), class: ["large-img"] %>
              <% else %>
                <%= image_tag show_image3_item_path(item), class: ["large-img","noimg"] %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <br />
      <div class="name_ph">
        <h2 class="font"><%= item.itemname %></h2>
      </div>
    </div>
  </div>
<% end %>
