<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @user.userid %>
</p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>"パスワード":</strong>
  <%= @user.pass %>
</p>

<p>
  <strong>"メール":</strong>
  <%= @user.mail + @user.mailback %>
</p>

<p>
  <strong>Color:</strong>
  <%= @user.color %>
</p>

<p>
  <strong>Call:</strong>
  <%= @user.call %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', controller: :top,action: :index%>
