<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @user.userid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @user.pass %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail + @user.mailback %>
</p>

<p>
  <strong>Color:</strong>
  <%= @user.color %>
</p>

<p>
  <strong>Call:</strong>
  <%= @user.call %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
