<script type="text/javascript">
  $(document).ready(function(){
    $(".hante").hide();
    if($("#item_fav:checked").val()){
      $(".sw_hante").attr("src", "<%= asset_path 'fav.png' %>");
    }else{
      $(".sw_hante").attr("src", "<%= asset_path 'nofav.png' %>");
    }
  });
  $(function(){
    $(".sw_hante").click(function(){
      if($("#item_fav:checked").val()){
        $("#item_fav").prop("checked", false);
        $(".sw_hante").attr("src", "<%= asset_path 'nofav.png' %>");
      }else{
        $("#item_fav").prop("checked", true);
        $(".sw_hante").attr("src", "<%= asset_path 'fav.png' %>");
      }
    })
  });
</script>

<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table><tbody>
  <div class="field">
    <%= f.label :Name %>
  <span class="field">
    <%= image_tag "nofav.png", class: "sw_hante", :size => "30x30" %>
    <%= f.check_box :fav, class: "hante" %>
  </span><br>
    <%= f.text_field :itemname, style: "ime-mode: active;" %>
  <span class="field">
    <%= f.collection_select :category,Category.where(user: session[:usr]),:id,:categoryname %>
  </span></div>

  通知<br/>
  <div class="field" style="display: inline-block " Align="center" >
    on　  off<br/>
    <%= f.radio_button :itemcall, true %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.radio_button :itemcall, false %>
  </div>|

  <div class="field" style="display: inline-block " Align="center">
    ほしい　かった<br/>
    <%= f.radio_button :situ,true %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.radio_button :situ,false %>
  </div><br/>

    <div style="display: inline-block ">
    <camera><%= image_tag('camera.png', { :border => '0', :alt => '画像',:size => '60x60'}) %></camera></div>
    <span style="margin-right: 170px;"></span>

    <div style="display: inline-block ">
    <itag><%= image_tag('itag.png', { :border => '0', :alt => 'タグ',:size => '60x60'}) %></itag></div>
    <span style="margin-right: 150px;"></span>

    <div style="display: inline-block ">
    <day><%= image_tag('day.png', { :border => '0', :alt => '何の日',:size => '60x60'}) %></day></div><br/>

  <div class="field" style="display: inline-block " >
    <script type="text/javascript">
      $(function() {
         $('.fimg').hide();
         $('.ftag').hide();
         $('.fani').hide();
         $('.fday').hide();
         $('camera').click(function(){
           $('.fimg').toggle();
         });
         $('itag').click(function(){
           $('.ftag').toggle();
         });
         $('day').click(function(){
           $('.fani').toggle();
           $('.fday').toggle();
         });
      });
    </script> 

    <span class="fimg">
      <%= f.file_field :image,accept: "image/jpeg" %>
      <%= f.file_field :image2,accept: "image/jpeg" %>
      <%= f.file_field :image3,accept: "image/jpeg" %>
    </span>


    <span class="ftag">
      <%= text_field_tag 'item[tag_list]',@item.tag_list.join(','), :placeholder => ",でタグの複数設定可" %>
    </span>

    <span class="fani" >
      
      <%= f.text_field :ani, :placeholder => "賞味期限、記念日etc." %>
    
      <%= f.date_select :day %>
    </span>
  </div>
</br>
  <div class="actions" style = "margin-left :580px">
    <%=  image_submit_tag('OK.png')  %>
  </div>
  </tbody></table>
<% end %>
