<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Fav %><br>
    <%= f.check_box :fav %>
  </div>
  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :itemname %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field" style="display: inline-block " >
    通知<br/>on　off<br/>
    <%= f.radio_button :itemcall,"on" %>
    <%= f.radio_button :itemcall,"off" %>
  </div>|
  <div class="field" style="display: inline-block " >
    ほしい　かった<br/>
    <%= f.radio_button :situ,"want" %>
    <%= f.radio_button :situ,"bought" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :tag_list %><br>
    <%= text_area 'item[tag_list]',@item.tag_list.join(',') %>
  </div>
  <div class="field">
    <%= f.label :ani %><br>
    <%= f.text_field :ani %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
