<p id="notice"><%= notice %></p>

<h1>Item</h1>

<table>
  <thead>
    <tr>
      <th>Itemname</th>
      <th>Image</th>
      <th>Itemcall</th>
      <th>Situ</th>
      <th>Ani</th>
      <th>Day</th>
      <th>Category</th>
      <th>Fav</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.itemname %></td>
        <td><%= item.image %></td>
        <td><%= item.itemcall %></td>
        <td><%= item.situ %></td>
        <td><%= item.ani %></td>
        <td><%= item.day %></td>
        <td><%= item.category %></td>
        <td><%= item.fav %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<br>

<%= link_to 'New Item', new_item_path %>
</br>
 <%= link_to image_tag('tag.png', { :border => '0', :alt => 'タグ一覧',:size => '60x60'}), tags_index_path %>

