<p id="notice"><%= notice %></p>

<h1>Item</h1>

<table>
  <% @items.each do |item| %>
    <tbody>
      <tr>
        <td align="center">
          <%= link_to item do %>
            <%= image_tag show_image_item_path(item), class: "large-img" %>
          <% end %>
          <br />
          <%= item.itemname %>
        </td>
      </tr>
    </tbody>
    
  <% end %>
</table>


 <%= link_to image_tag('item.png', { :border => '0', :alt => 'アイテム登録',:size => '60x60'}), new_item_path %>
 <%= link_to image_tag('tag.png', { :border => '0', :alt => 'タグ一覧',:size => '60x60'}), tags_index_path %>
 <%= link_to image_tag('category.png', { :border => '0', :alt => 'カテゴリー一覧',:size => '60x60'}), categories_path %>


