
<head>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.noimg').error(function() {
        $(this).attr({
            src: '/noimg.png'
        });
      });
    });
  </script> 

   <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
   <meta http-equiv="content-style-type" content="text/css">
   <style type="text/css">
         *.float
         {
            float: left;
            margin-right: 1em;
         }
         *.floatclear
         {
            clear: both;
         }
   </style>
</head>


<p id="notice"><%= notice %></p>

<p>
  <h2 style = display:inline;>▽</h2>
  <h1 style = display:inline;><%= @item.itemname %></h1>
</p>


<div class="noimg">
<p style = display:inline;>
 <%= image_tag show_image_item_path(@item), class: ["large-img","noimg"]%>
</p>
</div>


<p style="margin-left: 320px;">
  <% @item.tag_list.each do |tag| %>
     <%= link_to "##{tag}", search_tag_items_path(tag: tag) %>
  <% end %>
</p>
 <br class="floatclear">


<div class="float">
<p>
<%= link_to image_tag('pen.png', { :border => '0', :alt => '編集',:size => '200x80'}), edit_item_path %>
</p>
<p>
<%= link_to image_tag('dustbox.png', { :border => '0', :alt => '削除',:size => '200x80'}), @item, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<p>
<%= link_to image_tag('back.png', { :border => '0', :alt => '戻る',:size => '200x80'}), items_path %>
</p>
</div>

<p style="margin-left: 320px;">
   <font size="3">
     <%= @item.ani %></br>
     <%= @item.day %>
   </font>
</p>
 <br class="floatclear">

