<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta http-equiv="content-style-type" content="text/css">
<style type="text/css">
  div.fav{
    position:absolute;
    top:5%;  
  }
  div.image{
    position:absolute;
    top:20%; 
    width:90%; text-align:center;
  }
  div.name{
    position:absolute;
    bottom:5%; 
    width:90%; text-align:center;
  }
</style>


<p id="notice"><%= notice %></p>

<div align ="center">
  <h1>Want</h1>
</div>

<table>
  <% @items.each do |item| %>
      <% next if item.situ == false %>
        <%# PC用 %>
        <div class="visible-lg visible-md visible-sm">
          <div align="center" class="col-xs-6 col-sm-4" style="height:25em;">   
            <div class ="fav" style="margin-left: 60%;">
              <% if item.fav == true %>
                <%= image_tag('fav.png', { :border => '0', :alt => 'お気に入り', :width => '20em'}) %>
              <% end %>  
            </div>
            <%= link_to item do %>
              <div class="noimg">
                <div class="image">
                  <p style="display:inline;">
                    <%= image_tag show_image_item_path(item), class: ["large-img","noimg"] %>
                  </p>
                </div>
              </div>
            <% end %>
            <br />
            <div class="name">
              <%= item.itemname %>
            </div>
          </div>
        </div>
        <%# スマホ用 %>
        <div class="visible-xs">
          <div align="center" class="col-xs-6 col-sm-4" style="height:10em;">   
            <div class ="fav" style="margin-left: 60%;">
              <% if item.fav == true %>
                <%= image_tag('fav.png', { :border => '0', :alt => 'お気に入り', :width => '15em'}) %>
              <% end %>  
            </div>
            <%= link_to item do %>
              <div class="noimg">
                <div class="image">
                  <p style="display:inline;">
                    <%= image_tag show_image_item_path(item), class: ["large-img","noimg"] %>
                  </p>
                </div>
              </div>
            <% end %>
            <br />
            <div class="name">
              <%= item.itemname %>
            </div>
          </div>
        </div>
  <% end %>
</table>