
<%= image_tag 'login.png', {  :alt => 'top',:size => '600x397'} %></br>

<p><style="color : red"><%= @error %></p>
<%= form_tag action: :auth do %>
  <div class="field">
    <%= label_tag :userid, 'ID' %>:<br />
    <%= text_field_tag :userid, '' %>
  </div>
  <div class="field">
    <%= label_tag :pass, 'Pass' %>:<br />
    <%= text_field_tag :pass, '' %>
  </div>

  <%= hidden_field_tag :referer, flash[:referer] %>
  <%= image_submit_tag('OK.png', { :border => '0', :alt => '次へ', :size => '60x60'}) %>
<% end %>

