<!DOCTYPE html>
<html>
    <head>
        <title>Shurogi</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
    	<div>
	        <nav class="navbar navbar-default navbar-fixed-top">
		         <% if session[:usr] %>
				    <div>
				        <ul class="nav nav-pills" style="text-align: center;">
							<li style="width: 19%">
				          	  <%= link_to image_tag('set.png', {size: "60x60"}), sets_path %>
							</li>
							<li style="width: 60%">
				              <%= link_to image_tag('title.png', {style: "width: 100%; max-width: 200px;"}), items_path %>
							</li>
							<li style="width: 19%" class="dropdown">
				          	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
				          	    <%= image_tag('search.png', {size: "60x60"}) %>
				          	    <span class="caret"></span></a>
				          	    <ul class="dropdown-menu" role="menu">
							      <li>
							        <div style = "text-align: right"><form class="navbar-form pull-right">
							          <tr><td><input type="text" class="span" placeholder="検索キーワード"></td>
								      <td><button type="submit" class="btn">キーワード</button><br>
								          <button type="submit" class="btn2">タグ</button></td></tr>
							        </form></div>
							      </li>
								</ul>
							</li>
				        </ul>
			        </div>
			    <% end %>
			</nav>

		    <div class="container" style="margin-top: 80px;margin-bottom: 80px">
		      <%= yield %>
		    </div>

		    <nav class="navbar navbar-default navbar-fixed-bottom">
		        <% if session[:usr] %>
				    <div>
					    <ul class="nav nav-pills" style="text-align: center;">
							<li style="width: 19%">
							  <%= link_to image_tag('fav_link.png', {alt: "fav",size: "60x60"}), favcateg_items_path %>
							</li>
							<li style="width: 19%">
							  <%= link_to image_tag('category.png', {alt: "fav",size: "60x60"}), categories_path %>
							</li>
							<li style="width: 19%">
							  <%= link_to image_tag('item.png', {alt: "fav",size: "60x60"}), new_item_path %>
							</li>
							<li style="width: 19%">
							  <%= link_to image_tag('tag.png', {alt: "fav",size: "60x60"}), tags_index_path %>
							</li>
							<li style="width: 19%">
							  <%= link_to image_tag('want.png',{alt: "fav",size: "60x60"}), wantcateg_items_path %>
							</li>
					    </ul>
				    </div>
				<% end %>
		    </nav>
		</div>
     </body>
</html>